<h1>Evaluations#index</h1>
<p>Find me in app/views/evaluations/index.html.erb</p>

<% @evaluations.each do |e| %>
    <a href="/courses/<%= e.course.id %>">link</a>
    <%= e.user.email %>
    <%= e.course.lecture.name %>
    <%= e.course.professor.name %>
    <%= e.point %>
    <%= e.content %>
    <% if current_user %>
        <% if Favorite.exists?(course_id: e.course.id, user_id: current_user.id) %>
            <%= button_to '관심강의에서제거', users_favorites_delete_path(u_id: current_user.id, c_id: e.course.id),
                          method: :post, :onClick => 'alert("관심강의에서 제거되었습니다!")' %>
        <% else %>
            <%#= button_to '관심강의에다추가', {controller: 'users', action: 'favorites_add', u_id: current_user.id, c_id: e.course.id},
                    method: :post, :onClick => 'alert("관심강의에 추가되었습니다!")' %>
            <%= button_to '관심강의에다추가',  users_favorites_add_path(u_id: current_user.id, c_id: e.course.id),
                          method: :post, :onClick => 'alert("관심강의에 추가되었습니다!")' %>
        <% end %>
    <% end %>
    <hr>
<% end %>